@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$primaryColor : #8967D1;
$inputDisabled:#f4f4f4;
$inputBackground:#fdfdfd;
$primaryDisabled:#8967d1d3;

@mixin primaryFontStyle{
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.9375rem;
    letter-spacing: 0em;
    text-align: left; 
}

@mixin flex($direction:row,$justifyContent:flex-start,$alignItems:stretch){
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.create-account-header{
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 3rem;
    font-size: .9rem;
}
.form-field{
    @include flex(column);
    margin-bottom: 3rem;
}

label{
        margin-bottom: 1rem;
        color: #7B7B7B;
        @include primaryFontStyle();     
    }
    input{
        padding: 1rem;
        font-size: .8rem;
        border: none;
        outline: none;
        background-color: inherit;
        width: 100%;
    }
    input:disabled{
        background-color: $inputDisabled;
    }
    label.invalid{
        border: none;
        margin-bottom: 0;
        margin-top: .4rem;
        color: red;
        font-size: 0.625rem;
    }
.form-field-container{
    @include flex(row,space-between);
}
.form-field-container .form-field{
    width: 49%;
}
.btn{
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    border:none;
    outline: none;
    cursor: pointer;
    min-width: 200px;

    &.btn-primary{
        background-color: $primaryColor;
        color: white;
        @include primaryFontStyle();
        text-align: center;
        transition: all .5s ease;
    }
    &.btn-primary:disabled{
        background-color: $primaryDisabled;
    }

    &.btn-secondary{
        background-color:transparent;
        @include primaryFontStyle();
        color: $primaryColor;
        text-align: center;
        border: 2px solid $primaryColor;
    }

    &.btn-danger{
        background-color: red;
        color: white;
        @include primaryFontStyle();
        text-align: center;
        transition: all .5s ease;
    }

    &.btn-primary:hover{
        background-color: #7354b6;
    }
    &.btn-primary:focus,&.btn-secondary:focus{
        box-shadow: 0 0 0 0.25rem rgba(137, 103, 209, 0.493);
    }

    &.btn-danger:hover{
        background-color: rgb(228, 1, 1);
    }
    &.btn-danger:focus{
        box-shadow: 0 0 0 0.25rem rgba(228, 1, 1, 0.418);
    }
}

.wide-btn{
    width: 100%;
}

.fa-eye-slash:before,.fa-eye::before{
    color:#969696;
    cursor: pointer;
}

.fas.fa-times.wrong-input{
    position: absolute;
    color: red;
    pointer-events: none;
}

.fas.fa-check.proper-input{
    position: absolute;
    color: green;
    pointer-events: none;
}

.inputfield-group{
    @include flex();
    border: 1px solid #E5E5E5;
    max-height: 52px;
    background-color: $inputBackground;
    transition: all .3s ease;
    

    .inputfield-group-btn{
        padding: 1rem;
        text-align: center;
        outline: none;
        background-color: inherit;
        border:none;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

.inputfield-group:disabled{
    background-color: $inputDisabled;
}

.inputfield-group:focus-within{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
 }

 .signup-footer,.signin-footer{
     @include flex(row,center);
     margin-top: 2rem;
 }

 .home-container{
     @include flex(column,center,center);
     height: 100vh;

     .jumbo{
        font-family: 'Work Sans', sans-serif;
        font-size: 5rem;
        margin-bottom: 2rem;
     }
 }
 .link-btn{
     display: inline-block;
     text-decoration: none;
 }

 .snackbar{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  
    opacity: 0;
    pointer-events: none;
  
    transition: bottom 0.5s, opacity 0.5s;
  }

  
  .snackbar > div{
    background-color: #333;
    color: white;
  
    min-width: 150px;
    padding: 15px;
    font-size: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 5px;
  }
  .snackbar.error-snackbar > div{
      background-color: red;
  }
  .snackbar.success-snackbar > div{
      background-color: green;
  }
  
  .snackbar.show {
    bottom: 30px;
    opacity: 1;
  
    pointer-events: all;
  }

.hide{
    display: none;
}
.show{
    display: block;
}
.fas.fa-times.wrong-input.hide{
   visibility: hidden;
}
.fas.fa-check.proper-input.hide{
    visibility: hidden;
}
.fas.fa-times.wrong-input.show{
    visibility: visible;
}

.fas.fa-check.proper-input.show{
    visibility: visible;
}

.creating-account-span,.signing-in-span,.updating-acc-span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.loading-img-svg{
    margin-left:.2rem;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $primaryColor;
    color: white;
    z-index: 99;
}
.loading-span{
    display: flex;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
.edit-btn,.logout-btn,.update-btn,.cancel-btn{
    margin-bottom: .5rem;
}

.update-and-cancel.show,.edit-and-logout.show{
    display: flex;
}


@keyframes fadeOut{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width:768px){
    html{
        font-size: 95%;
    }
}

@media(max-width:568px){
    html{
        font-size: 90%;
    }
}